
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  html {
    font-size: 10px; 
  }
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    
  }

.section-login {
    padding: 15rem 0;
    background-color: #eee;
    height: 100vh;
  }

  .heading {
    font-size:1.5rem;
    color: #1d7e0c;
    text-align: center;
    padding-top: 1rem;
    position: relative;
  }

  .heading::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 1px;
    background-color: #ff7730;
    bottom: -1rem;
    left: 50%;
    margin-left: -1.3rem;

  }
  
  .login {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, transparent 50%), url(image/login.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    height: 80%;
    width: 50%;
    margin: 0 auto; 
  }
    .login-form {
      width: 55%;
      padding: 6rem; 
    }

      .form-group {
        /* margin-bottom: .1rem;  */
      }
      
      .form-input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #eee;
        border-bottom: 3px solid #eee;
        width: 100%;
        display: block;
        transition: all .3s; 
      }
        .form-input:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid #55c57a; 
        }
        .form-input:focus:invalid {
          border-bottom: 3px solid #ff7730; 
        }
        .form-input::-webkit-input-placeholder {
          color: #999; 
        }
      
      .form-label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .3rem;
        display: block;
        transition: all .2s; 
      }
      
      .form-input:placeholder-shown + .form-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem); 
      }
      
     

.btn {
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: #f16716;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin-bottom: .5rem;
    cursor: pointer;
    transform: translateY(0);
    transition: all .2s;
  }

  .btn:hover {
    transform: translateY(-.3rem);
  }

  .forgot {
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    

  }

